<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070717245640-5ek6j8392df6tc1hh21j1bbqj70pm48s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070717245640-5ek6j8392df6tc1hh21j1bbqj70pm48s</string>
	<key>API_KEY</key>
	<string>AIzaSyD5K5mr2nb2ac6hwhjd8FEdKfW6xxeJzj4</string>
	<key>GCM_SENDER_ID</key>
	<string>1070717245640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rockid</string>
	<key>PROJECT_ID</key>
	<string>rockid-30d56</string>
	<key>STORAGE_BUCKET</key>
	<string>rockid-30d56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070717245640:ios:775a897805b4165725edfd</string>
	<key>DATABASE_URL</key>
	<string>https://rockid-30d56-default-rtdb.firebaseio.com</string>
</dict>
</plist>